In [1]:
import pandas as pd
import numpy as np

In [2]:
anime = pd.read_csv('anime.csv')

In [3]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
''' 
All our required data is present in the anime dataframe so we won't be using the ratings dataframe.
'''

" \nAll our required data is present in the anime dataframe so we won't be using the ratings dataframe.\n"

In [5]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
anime.shape  #(12294, 7)

(12294, 7)

In [7]:
anime.duplicated().sum()

0

In [8]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [9]:
''' 
Compared to the entire dataset very few values are missing so we can drop them.
'''

' \nCompared to the entire dataset very few values are missing so we can drop them.\n'

In [10]:
anime.dropna(inplace=True)

In [11]:
anime.shape  #(12017, 7)

(12017, 7)

In [12]:
anime.isna().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [14]:
anime.iloc[2]['genre']

'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen'

In [15]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [16]:
anime['genre'].unique()

array(['Drama, Romance, School, Supernatural',
       'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
       'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
       ..., 'Action, Comedy, Hentai, Romance, Supernatural',
       'Hentai, Sports', 'Hentai, Slice of Life'], dtype=object)

In [17]:
anime['detail'] = anime['genre'] + anime['type']

In [18]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members,detail
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,"Drama, Romance, School, SupernaturalMovie"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572,"Sci-Fi, ThrillerTV"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266,"Action, Comedy, Historical, Parody, Samurai, S..."

In [19]:
df = anime[['name', 'detail', 'episodes','rating']]
df.head()

,name,detail,episodes,rating
0,Kimi no Na wa.,"Drama, Romance, School, SupernaturalMovie",1,9.37
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",64,9.26
2,Gintama째,"Action, Comedy, Historical, Parody, Samurai, S...",51,9.25
3,Steins;Gate,"Sci-Fi, ThrillerTV",24,9.17
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",51,9.16

In [20]:
df['detail'] = df['detail'].apply(lambda x: x.lower())

C:\Users\atmik shetty\AppData\Local\Temp\ipykernel_7836\1731685508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['detail'] = df['detail'].apply(lambda x: x.lower())

In [21]:
df.head()

,name,detail,episodes,rating
0,Kimi no Na wa.,"drama, romance, school, supernaturalmovie",1,9.37
1,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili...",64,9.26
2,Gintama째,"action, comedy, historical, parody, samurai, s...",51,9.25
3,Steins;Gate,"sci-fi, thrillertv",24,9.17
4,Gintama&#039;,"action, comedy, historical, parody, samurai, s...",51,9.16

In [22]:
df['detail'].unique()

array(['drama, romance, school, supernaturalmovie',
       'action, adventure, drama, fantasy, magic, military, shounentv',
       'action, comedy, historical, parody, samurai, sci-fi, shounentv',
       ..., 'hentai, sportsova', 'hentai, slice of lifeova',
       'hentaimovie'], dtype=object)

In [23]:
''' 
We need to reduce some words to their base form for better model building.
'''

' \nWe need to reduce some words to their base form for better model building.\n'

In [24]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [25]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [26]:
df['detail'] = df['detail'].apply(stem)

C:\Users\atmik shetty\AppData\Local\Temp\ipykernel_7836\1464134574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['detail'] = df['detail'].apply(stem)

In [27]:
df.head()

,name,detail,episodes,rating
0,Kimi no Na wa.,"drama, romance, school, supernaturalmovi",1,9.37
1,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili...",64,9.26
2,Gintama째,"action, comedy, historical, parody, samurai, s...",51,9.25
3,Steins;Gate,"sci-fi, thrillertv",24,9.17
4,Gintama&#039;,"action, comedy, historical, parody, samurai, s...",51,9.16

In [28]:
''' 
Text Vectorization
'''

' \nText Vectorization\n'

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [31]:
vectors = cv.fit_transform(df['detail']).toarray()

In [32]:
#Words with highest frequemcy
cv.get_feature_names_out()

array(['action', 'actionmovi', 'actionona', 'actionova', 'actionspeci',
       'actiontv', 'adventure', 'adventuremovi', 'adventureona',
       'adventureova', 'adventurespeci', 'adventuretv', 'ai', 'aimovi',
       'aiona', 'aiova', 'aispeci', 'aitv', 'arts', 'artsmovi', 'artsona',
       'artsova', 'artsspeci', 'artstv', 'cars', 'carsmovi', 'carsona',
       'carsova', 'carsspeci', 'carstv', 'comedy', 'comedymovi',
       'comedyona', 'comedyova', 'comedyspeci', 'comedytv', 'dementia',
       'dementiamovi', 'dementiaona', 'dementiaova', 'dementiaspeci',
       'dementiatv', 'demons', 'demonsmovi', 'demonsona', 'demonsspeci',
       'drama', 'dramamovi', 'dramaona', 'dramaova', 'dramaspeci',
       'dramatv', 'ecchi', 'ecchimovi', 'ecchiona', 'ecchiova',
       'ecchispeci', 'ecchitv', 'fantasy', 'fantasymovi', 'fantasyona',
       'fantasyova', 'fantasyspeci', 'fantasytv', 'fi', 'fimovi', 'fimus',
       'fiona', 'fiova', 'fispeci', 'fitv', 'game', 'gamemovi', 'gameona',
       'gameova', 'gamespeci', 'gametv', 'harem', 'haremova',
       'haremspeci', 'haremtv', 'hentai', 'hentaimovi', 'hentaiona',
       'hentaiova', 'hentaispeci', 'historical', 'historicalmovi',
       'historicalona', 'historicalova', 'historicalspeci',
       'historicaltv', 'horror', 'horrormovi', 'horrorona', 'horrorova',
       'horrorspeci', 'horrortv', 'josei', 'joseiova', 'joseispeci',
       'joseitv', 'kids', 'kidsmovi', 'kidsona', 'kidsova', 'kidsspeci',
       'kidstv', 'life', 'lifemovi', 'lifemus', 'lifeona', 'lifeova',
       'lifespeci', 'lifetv', 'magic', 'magicmovi', 'magicona',
       'magicova', 'magicspeci', 'magictv', 'martial', 'mecha',
       'mechamovi', 'mechaona', 'mechaova', 'mechaspeci', 'mechatv',
       'military', 'militarymovi', 'militaryona', 'militaryova',
       'militaryspeci', 'militarytv', 'music', 'musicmovi', 'musicmus',
       'musicona', 'musicova', 'musicspeci', 'musictv', 'mystery',
       'mysterymovi', 'mysteryona', 'mysteryova', 'mysteryspeci',
       'mysterytv', 'parody', 'parodymovi', 'parodyona', 'parodyova',
       'parodyspeci', 'parodytv', 'police', 'policemovi', 'policeona',
       'policeova', 'policespeci', 'policetv', 'power', 'powermovi',
       'powermus', 'powerona', 'powerova', 'powerspeci', 'powertv',
       'psychological', 'psychologicalmovi', 'psychologicalmus',
       'psychologicalona', 'psychologicalova', 'psychologicalspeci',
       'psychologicaltv', 'romance', 'romancemovi', 'romancemus',
       'romanceona', 'romanceova', 'romancespeci', 'romancetv', 'samurai',
       'samuraimovi', 'samuraimus', 'samuraiona', 'samuraiova',
       'samuraispeci', 'samuraitv', 'school', 'schoolmovi', 'schoolmus',
       'schoolona', 'schoolova', 'schoolspeci', 'schooltv', 'sci',
       'seinen', 'seinenmovi', 'seinenmus', 'seinenona', 'seinenova',
       'seinenspeci', 'seinentv', 'shoujo', 'shoujomovi', 'shoujomus',
       'shoujoona', 'shoujoova', 'shoujospeci', 'shoujotv', 'shounen',
       'shounenmovi', 'shounenona', 'shounenova', 'shounenspeci',
       'shounentv', 'slice', 'space', 'spacemovi', 'spacemus', 'spaceona',
       'spaceova', 'spacespeci', 'spacetv', 'sports', 'sportsmovi',
       'sportsmus', 'sportsona', 'sportsova', 'sportsspeci', 'sportstv',
       'super', 'supernatural', 'supernaturalmovi', 'supernaturalmus',
       'supernaturalona', 'supernaturalova', 'supernaturalspeci',
       'supernaturaltv', 'thriller', 'thrillermovi', 'thrillerona',
       'thrillerova', 'thrillerspeci', 'thrillertv', 'vampire',
       'vampiremovi', 'vampiremus', 'vampireona', 'vampireova',
       'vampirespeci', 'vampiretv', 'yaoiona', 'yaoiova', 'yaoispeci',
       'yuriona', 'yuriova', 'yurispeci'], dtype=object)

In [33]:
''' 
Calculate the distance between the above vectors using Cosine Distance.
'''

' \nCalculate the distance between the above vectors using Cosine Distance.\n'

In [34]:
from sklearn.metrics.pairwise import cosine_similarity

In [35]:
similarity = cosine_similarity(vectors)

In [36]:
similarity[6]

array([0.        , 0.3380617 , 0.15811388, ..., 0.        , 0.        ,
       0.        ])

In [43]:
def recommend(anime):
    anime_index = df[df['name'] == anime].index[0]
    distances = similarity[anime_index]
    animes_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

    for i in animes_list:
        anime_name = df.iloc[i[0]]['name']
        print(anime_name)

In [46]:
recommend('One Piece')

One Piece: Episode of Merry - Mou Hitori no Nakama no Monogatari
One Piece: Episode of Nami - Koukaishi no Namida to Nakama no Kizuna
One Piece: Episode of Sabo - 3 Kyoudai no Kizuna Kiseki no Saikai to Uketsugareru Ishi
Shingeki no Kyojin
Dragon Ball Z

In [47]:
import pickle

In [48]:
pickle.dump(df, open('animes.pkl', 'wb'))

In [49]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))